<div id='competition-show'>
  <div class="row">
    <div class="span9">
      <h2>Competition information for <%= @comp.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <p><%= @comp.description %></p>
      <p><%="Running from #{@comp.start_date} to #{@comp.end_date}."%></p>
      <p><%="Register before #{@comp.registration_close_date}."%></p>
      <p>Located in <%= @comp.location %>.</p>
      <div id="map">
      </div>
      <% if signed_in? %>
        <%= link_to("Edit Competition", edit_competition_path(@comp.id))%>
      <% end %>
    </div>
    <div class="span5">
      <div class="image">
        <%= image_tag @comp.image %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <dl>
        <dt>Events:</dt>
        <dd><%= @comp.events.map {|e| e.name}.join(',') %></dd>
      </dl>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @marker.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10);
   });
});
</script>