<div id="welcome-index">
  <div class="row">
    <div class="span8">
      <h2>Upcoming Competitions</h2>
      <div id="competition-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% active = "active" %>
          <% Competition.upcoming.limit(3).count.times do |i|%>
            <li data-target="#competition-carousel" data-slide-to="<%= i %>" class="<%= active %>"></li>
            <% active=nil %>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% active = "active" %>
          <% Competition.upcoming.order(:start_date).limit(3).each do |c| %>
            <div class="item <%= active %>">
              <%= image_tag c.image %>
              <div class="carousel-caption">
                <p><%= "#{c.name} - #{c.description} in #{c.location}" %></p>
              </div>
            </div>
            <% active = nil %>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#competition-carousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#competition-carousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>

