<%= image_tag e.image, :class => 'event-thumb' %>
<p class="event-list-info"><%= "#{e.name}" %></p>
<nav>
  <% if signed_in? %>
    <% if e.competition.attendees.include?(current_user) %>
      <% if e.registrants.find_by_user_id(current_user.id) %>
        <%= link_to("Withdraw ", competition_competition_attendee_event_registration_path(:competition_id => e.competition.id, :competition_attendee_id => e.competition.competition_attendees.find_by_user_id(current_user.id).id, :id => e.registrants.find_by_user_id(current_user.id).event_registrations.find_by_event_id(e.id)), :method => :delete) %>
      <% else %>
        <%= link_to("Register ", competition_competition_attendee_event_registrations_path(:competition_id => e.competition.id, :competition_attendee_id => e.competition.competition_attendees.find_by_user_id(current_user.id).id, :event_registration => { :event_id => e.id}), :method => :post) %>
      <% end %>
    <% end %>
    <%= link_to("Delete ", competition_event_path(:competition_id => e.competition_id, :id => e.id), :method => :delete) %>
    <%= link_to("Edit ", edit_competition_event_path(:competition_id => e.competition_id, :id => e.id)) %>
  <% end %>
</nav>
<%= link_to_if(signed_in? && e.entrants.count > 0, 'Entrants:',competition_event_entrants_path(:competition_id => e.competition_id, :event_id => e.id))%>
<%= e.entrants.count %>
<%= link_to_if(e.event_registrations.sum(:position) > 0, 'Results',competition_event_show_results_path(e.competition.id, e.id)) %>
