<div id='event-edit'>
  <div class="row">
    <div class="span9">
      <h2>Edit Event for Competition <%="#{@comp.name}"%>:</h2>
      <%= form_for [@comp, @event] do |f| %>
        <%= render partial: "form", :locals => {:f => f} %>
        <%= link_to("Edit results", competition_event_edit_results_path(@comp.id, @event.id)) %>
        <div>
          <%= f.submit "Save", :class => 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>