<div id='event-entrant-index'>
  <div class="row">
    <div class="span9">
      <h2>Entrants for <%=@event.name%> in <%= @event.competition.name %></h2>
        <ul class='form-list'>
          <li>
            <%= text_field_tag '', 'Entrant', :class => 'span3', :disabled => true %>
          </li>
          <% @entrants.each do |e| %>
            <li>
              <%= text_field_tag '', e.full_name, :class => 'span3 uneditable-input' %>
            </li>
          <% end %>
        </ul>
        <nav>
          <%= link_to('Competition Information', competition_path(@event.competition.id)) %>
          <%= link_to('Event List', competition_events_path(@event.competition.id)) %>
        </nav>
    </div>
  </div>
</div>