<div class=row>
  <div class="span9">
    <h2>Events for <%=@comp.name%></h2>
    <ul>
      <% @events.each do |e| %>
        <li>
          <% if signed_in? %>
            <%= link_to("Delete ", competition_event_path(:competition_id => e.competition_id, :id => e.id), :method => :delete) %>
            <%= link_to("Edit ", edit_competition_event_path(:competition_id => e.competition_id, :id => e.id)) %>
          <% end %>
          <%= "#{e.name} - #{e.description}" %>
        </li>
      <% end %>
    </ul>
    <%= link_to("Add", new_competition_event_path(:competition_id => @comp.id))%>
  </div>
</div>