<div class='results'>
  <%= f.fields_for :entry do |e| %>
    <%= e.text_field :full_name, :disabled => true, :class => 'input-small'%>
  <% end %>
  <%= f.hidden_field :id %>
  <%= f.label :result %>
  <%= f.text_field :result %>
  <%= f.label :position %>
  <%= f.number_field :position %>
</div>